<div class="flex space-evenly">
    <div class="w-1/2">DHCP Enabled:</div>
    <div class="w-1/2">{{.DHCPEnabled}}</div>
</div>
<div class="flex space-evenly">
    <div class="w-1/2">Address:</div>
    <div class="w-1/2">{{.IPAddress}}</div>
</div>
<div class="flex space-evenly">
    <div class="w-1/2">Subnet Mask:</div>
    <div class="w-1/2">{{.SubnetMask}}</div>
</div>
<div class="flex space-evenly">
    <div class="w-1/2">Default Gateway:</div>
    <div class="w-1/2">{{.DefaultGateway}}</div>
</div>
<div class="flex space-evenly">
    <div class="w-1/2">Primary DNS:</div>
    <div class="w-1/2">{{.PrimaryDNS}}</div>
</div>
<div class="flex space-evenly">
    <div class="w-1/2">Secondary DNS:</div>
    <div class="w-1/2">{{.SecondaryDNS}}</div>
</div>