<div id="devices">
  <div id="processing" class="htmx-indicator">Processing...</div>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          
          <div id="errors">
    
          </div>
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Name</th>
                <th scope="col" class="px-6 py-4">Device Address</th>
              </tr>
            </thead>
            <tbody id="table-body">
              {{range .}}
                {{ template "devices/row.html". }}
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
