<div id="device">
    <div id="processing" class="htmx-indicator">Processing...</div>
    <div class="flex justify-end">
        <!-- <button hx-get="/device/powerState/{{.Device.Id}}"
            class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
            href="">
            Reboot
        </button> -->
        <button hx-get="/devices" hx-target="#content" hx-swap="innerHTML" hx-indicator="#processing"
            class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
            href="">
            Devices
        </button>
    </div>
    <div class="flex flex-col">
        <h1 class="text-3xl">{{.Device.Name}}</h1>
        <h2 class="text-3x1">AMT Host OS FQDN: {{.GeneralSettings.HostOSFQDN}}</h2>
        <h2 class="text-3x1">AMT UUID: {{.Device.UUID}}</h2>
        
        <br>
        <div id="loading" class="htmx-indicator">Loading...</div>
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <div>
                        <p>AMT State</p>
                        <div id="amt-state" class="w-1/2 text-left text-sm font-light">
                            <div class="flex space-evenly">
                                <div class="w-1/2">Provisioning State:</div>
                                <div class="w-1/2">{{.SetupAndConfigurationService.ProvisioningState |
                                    ProvisioningStateLookup}}</div>
                            </div>
                            <div class="flex space-evenly">
                                <div class="w-1/2">Provisioning Mode:</div>
                                <div class="w-1/2">{{.SetupAndConfigurationService.ProvisioningMode |
                                    ProvisioningModeLookup}}</div>
                            </div>
                            <div class="flex space-evenly">
                                <div class="w-1/2">Network Interface Enabled:</div>
                                <div class="w-1/2">{{.GeneralSettings.NetworkInterfaceEnabled}}</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="flex space-evenly">
                        <div class="w-1/2">
                            <p>Wired Ethernet</p>
                            <div id="wired-ethernet" class="text-left text-sm font-light"
                                hx-get="/device/ethernet/{{.Device.Id}}" hx-vals='{"eth": 0}' hx-trigger="load"
                                hx-target="#wired-ethernet" hx-swap="innerHTML" hx-indicator="#loading">
                            </div>
                        </div>
                        <div class="w-1/2">
                            <p>Wireless Ethernet</p>
                            <div id="wireless-ethernet" class="text-left text-sm font-light"
                                hx-get="/device/ethernet/{{.Device.Id}}" hx-vals='{"eth": 1}' hx-trigger="load"
                                hx-target="#wireless-ethernet" hx-swap="innerHTML" hx-indicator="#loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>