<tr id="errors-{{.UUID}}">
  
</tr>
<tr id="datarow-{{.UUID}}" class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap px-6 py-4">{{.UUID}}</td>
  <td class="whitespace-nowrap px-6 py-4">
    <input
      type="text"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      data-include-edit="{{.UUID}}"
      name="name"
      value="{{.Name}}"
    />
  </td>
  <td class="whitespace-nowrap px-6 py-4">
    <input
      type="text"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      data-include-edit="{{.UUID}}"
      name="ipaddress"
      value="{{.IPAddress}}"
    />
  </td>
  <td class="whitespace-nowrap px-6 py-4">
    <input
      type="text"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      data-include-edit="{{.UUID}}"
      name="fwversion"
      value="{{.FWVersion}}"
    />
  </td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-put="/device/{{.UUID}}"
      hx-target="#datarow-{{.UUID}}"
      hx-target-4xx*="#errors-{{.UUID}}"
      hx-swap="outerHTML"
      hx-indicator="#processing"
      hx-include="input[data-include-edit='{{.UUID}}']"
      class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
      href=""
      >Saves</a
    >
  </td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-get="/device/{{.UUID}}"
      hx-target="#datarow-{{.UUID}}"
      hx-swap="outerHTML"
      hx-indicator="#processing"
      class="inline-flex items-center h-8 px-4 m-2 text-sm text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800"
      href=""
      >Cancel</a
    >
  </td>
</tr>
