<p>WSMAN Explorer</p>
<form>
    <div id="wsman-explorer-class" class="flex content-evenly text-right text-sm font-light" hx-get="/device/ws-classes" hx-trigger="load" hx-target="#wsman-explorer-class"
        hx-swap="innerHTML"></div>
    <div id="wsman-explorer-method" class="flex content-evenly text-right text-sm font-light"></div>
    <button type="submit" hx-post="/device/test/{{.Id}}"
        class="inline-flex items-center h-8 px-4 m-2 text-sm text-blue-100 transition-colors duration-150 bg-blue-700 rounded-lg focus:shadow-outline hover:bg-blue-800"
        hx-include="input[data-include-add]" hx-target="#wsman-explorer" hx-swap="innerHTML" hx-indicator="#loading">
        Submit
    </button>
    
</form>
<div id="wsman-explorer" class="flex content-evenly text-right text-sm font-light"></div>