name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
      branches: [ main ]
  workflow_dispatch:
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.0.0
    - name: Build the Docker image
      run: docker build --file Dockerfile --tag  vprodemo.azurecr.io/console:latest --tag vprodemo.azurecr.io/console:${{ github.sha }} .
    - name: Docker Login
      if: ${{ github.ref == 'refs/heads/main' }}      
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # v3.2.0
      with:
        registry: vprodemo.azurecr.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: true
    - name: Push the Docker image to the registry
      if: ${{ github.ref == 'refs/heads/main' }}      
      run: docker push vprodemo.azurecr.io/console:latest
    - name: Push the Docker image to the registry
      if: ${{ github.ref == 'refs/heads/main' }}      
      run: docker push vprodemo.azurecr.io/console:${{ github.sha }}
